@charset "utf-8";

/*重置*/
body,
h1,
h2,
h3,
h4,
h5,
dl,
dd,
dt,
p,
ul,
li,
ol {
	margin: 0;
	padding: 0;
}

input,
select,
form,
textarea,
button,
video {
	border: none;
	margin: 0;
	outline: none;
	padding: 0;
	appearance: none;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: normal;
}

img {
	border: none;
}

a {
	text-decoration: none;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

select {
	-webkit-appearance: none;
	/*去除系统默认的样式*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/* 点击高亮的颜色*/
}

body,
button,
input,
select,
textarea {
	font: normal 12px/100% Helvetica, Arial, sans-serif;
}

li {
	list-style-type: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body,
html {
	width: 100%;
	height: 100%;
}

html {
	background-color: #f1f1f1;
}

@media screen and (min-width: 320px) {
	html {
		font-size: 50px;
	}
}

@media screen and (min-width: 360px) {
	html {
		font-size: 56.25px;
	}
}

@media screen and (min-width: 375px) {
	html {
		font-size: 58.59375px;
	}
}

@media screen and (min-width: 400px) {
	html {
		font-size: 62.5px;
	}
}

@media screen and (min-width: 414px) {
	html {
		font-size: 64.6875px;
	}
}

@media screen and (min-width: 440px) {
	html {
		font-size: 68.75px;
	}
}

@media screen and (min-width: 480px) {
	html {
		font-size: 75px;
	}
}

@media screen and (min-width: 520px) {
	html {
		font-size: 81.25px;
	}
}

@media screen and (min-width: 560px) {
	html {
		font-size: 87.5px;
	}
}

@media screen and (min-width: 600px) {
	html {
		font-size: 93.75px;
	}
}

@media screen and (min-width: 640px) {
	html {
		font-size: 100px;
	}
}

@media screen and (min-width: 680px) {
	html {
		font-size: 100px;
	}
}

@media screen and (min-width: 720px) {
	html {
		font-size: 100px;
	}
}

@media screen and (min-width: 760px) {
	html {
		font-size: 100px;
	}
}

@media screen and (min-width: 800px) {
	html {
		font-size: 100px;
	}
}

@media screen and (min-width: 960px) {
	html {
		font-size: 100px;
	}
}

/*头部搜索栏*/
.module-layer {
	width: 100%;
	/* 固定位置 */
	position: fixed;
	z-index: 100000;

	top: 0;
	left: 0;
}

.module-layer-content {
	/* 相对 */
	position: relative;
	min-width: 320px;
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	background:rgba(0, 0, 0, .6);
	opacity:0.5;
}

.module-layer-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background: -webkit-linear-gradient(rgba(0, 0, 0, .6), transparent 80%);
	background: -o-linear-gradient(rgba(0, 0, 0, .6), transparent 80%);
	background: -moz-linear-gradient(rgba(0, 0, 0, .6), transparent 80%);
	background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0) 80%);
}

.layer-head-name {
	height: 0.84rem;
	line-height: 0.84rem;
	text-align: center;
}

.layer-logo,
.layer-login {
	width: 24%;
	text-align: center;
	position: absolute;
	top: 11%;
	z-index: 1;
}

.layer-logo {
	left: 2%;
	top: 10%;
}

.layer-login {
	right: 2%;
	width: 14.5%;
	top: 15%;
	text-align: left;
	line-height: .56rem;
}

.layer-logo img {
	display: block;
	width: 100%;
}

.layer-login a {
	display: block;
	font-size: .26rem;
	color: #fff;
	padding-right: .36rem;
	background: url(../images/menu_icon04.png) right center no-repeat;
	background-size: .4rem .4rem;
}

.pr {
	position: relative;
}

#shop-input::-webkit-input-placeholder {
	color: #bbb;
}

#shop-input:-moz-placeholder {
	color: #bbb;
}

#shop-input::-moz-placeholder {
	color: #bbb;
}

#shop-input:-ms-input-placeholder {
	color: #bbb;
}

#shop-input {
	border: none;
	outline: none;
	background: transparent;
	height: 0.6rem;
	line-height: 0.6rem;
	font-size: .24rem;
	position: absolute;
	top: 0;
	left: 0.46rem;
}

.search-box {
	height: 0.6rem;
	border-radius: 50px;
	top: 14%;
	overflow: hidden;
	z-index: 10;
	width: 55%;
	margin: 0 auto;
	margin-left: 27%;
}

.search-box:after {
	content: '';
	display: block;
	width: 100%;
	height: 0.6rem;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.shop-search {
	width: 0.26rem;
	height: 0.26rem;
	position: absolute;
	top: 25%;
	left: 3%;
}

.search-box-cover {
	background: #2691e1;
	width: 100%;
	height: 0.84rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	opacity: 0;
	filter: Alpha(opacity=0);
}

/*主内容区*/
.module-content {
	min-width: 320px;
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	background: #fff;
	overflow: hidden;
	background-color: #f1f1f1;
}

/*banner轮播图*/
.banner {
	width: 100%;
}

.banner ul li img {
	width: 100%;
	display: block;
}

.banner .sp01 span {
	background-color: #fff;
	opacity: .7;
}

.banner .sp01 .swiper-pagination-bullet-active {
	background-color: white;
	background-color: #ffe037;
	opacity: 1;
}

/*icon*/
.nav_iconbox {
	overflow: hidden;
	background-color: #fff;
	padding: .3rem 0 .4rem;
	margin-bottom: 6px;
}

.nav_iconbox ul li {
	width: 25%;
	float: left;
	text-align: center;
	margin-bottom: .12rem;
}

.nav_iconbox ul li a img {
	display: block;
	margin: 0 auto;
	width: 50px;
	height: 50px;
}

.nav_iconbox ul li a span {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	color: #888;
	line-height: 180%;
	font-size: .22rem;
}

.nav_iconbox .icon01 span {
	width: 12px;
	height: 2px;
	border-radius: 0;
	margin: 0 2px;
	background-color: #ffe037;
	opacity: 1;
}

.nav_iconbox .icon01 span.swiper-pagination-bullet-active {
	background-color: #10805a;
}

/* <!-- 商城公告和商家入驻口 -->*/
.news_sj_dxs_box .scrollnews {
	overflow: hidden;
	padding: 2%;
	height: .4rem;
}

.news_sj_dxs_box .scrollnews span {
	float: left;
	width: 20%;
	margin-top: .6%;
}

.news_sj_dxs_box .scrollnews span img {
	width: 100%;
	display: block;
}

.news_sj_dxs_box .scrollnews ul {
	float: right;
	width: 78%;
	height: .4rem;
	overflow: hidden;
}

.news_sj_dxs_box .scrollnews ul li {
	line-height: .4rem;
	height: .4rem;
}

.news_sj_dxs_box .scrollnews ul li a {
	display: block;
	color: #666;
	font-size: 0.22rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.news_sj_dxs_box .sj_dxs_box {
	overflow: hidden;
}

.news_sj_dxs_box .sj_dxs_box h2 {
	width: 100%;
	position: relative;
}

.news_sj_dxs_box .sj_dxs_box img {
	width: 100%;
	display: block;
}

/*index_title*/
.index_title {
	text-align: center;
	padding: 3% 0 5%;
	position: relative;
}

.index_title h1 {
	display: inline-block;
	position: relative;
	z-index: 2;
	background-color: #fff;
	padding: 0 3%;
}

.index_title h1 img {
	display: inline-block;
	vertical-align: middle;
	width: .40rem;
	margin-right: -4px;
}

.index_title h1 a {
	display: inline-block;
	vertical-align: middle;
	font-size: .36rem;
	color: #4aa3e6;
	background: url(../images/line_botm.jpg) no-repeat center bottom;
	background-size: 100% 3px;
	line-height: .6rem;
}

.index_title i {
	position: absolute;
	width: 56%;
	height: 1px;
	top: 50%;
	background-color: #4aa3e6;
	left: 50%;
	margin-left: -28%;
}

/*hot_goods*/
.hot_goods_pic {
	padding: 0 2%;
	padding-bottom: 3%;
}

.hot_goods_pic ul li a {
	display: block;
	overflow: hidden;
}

.hot_goods_pic ul li img {
	display: block;
	width: 100%;
}

.hot_goods_pic ul li p {
	color: #666;
	font-size: .22rem;
	line-height: .28rem;
	height: .52rem;
	overflow: hidden;
	margin-top: 6%;
}

.hot_goods_pic ul li span {
	color: #f00;
	font-size: .24rem;
	display: block;
	line-height: 160%;
}

/*配件专区*/
.pj_goods_box .tit {
	padding: 6% 2% 4%;
	overflow: hidden;
	background: url(../images/line_botm.jpg) no-repeat center bottom;
	background-size: 100% 3px;
	line-height: 100%;
	margin-bottom: 4%;
}

.pj_goods_box .tit h1 {
	font-size: .34rem;
	color: #10805a;
	float: left;
}

.pj_goods_box .tit a {
	float: right;
	color: #999;
	font-size: .24rem;
}

/*广告条*/
.ad_picbox {
	margin: 6px 0;
}

.ad_picbox ul li img {
	width: 100%;
	display: block;
}

/*热销品类*/
.yh_select {
	padding-bottom: 5%;
}

.yh_select .yh_goodsbox {
	border-top: #ddd solid 1px;
	border-bottom: #ddd solid 1px;
}

.yh_goodsbox .l {
	width: 50%;
	border-right: #ddd solid 1px;
}

.yh_goodsbox .yh_wrapper {
	margin: 4%;
	padding-bottom: 10%;
}

.yh_goodsbox .yh_wrapper ul li {
	overflow: hidden;
}

.yh_goodsbox .yh_wrapper ul li img {
	display: block;
	width: 100%;
}

.yh_goodsbox .yh_wrapper a {
	display: block;
	overflow: hidden;
}

.yh_goodsbox .yh_wrapper ul li p {
	color: #666;
	font-size: .22rem;
	line-height: .28rem;
	height: .52rem;
	overflow: hidden;
	margin-top: 3%;
}

.yh_goodsbox .yh_wrapper ul li span {
	color: #f00;
	font-size: .24rem;
	display: block;
	line-height: 160%;
}

.yh_goodsbox .yh_wrapper ul li span em {
	font-style: normal;
	color: #999;
	text-decoration: line-through;
}

.yh_goodsbox .yh_wrapper ul li span i {
	font-style: normal;
	margin-left: 4%;
}

.yh_goodsbox .yh_wrapper .sp02 {
	bottom: 5px;
}

.yh_goodsbox .yh_wrapper .sp02 span {
	width: 15px;
	height: 3px;
	border-radius: 0;
	margin: 0 3px;
	background-color: #ffe037;
	opacity: 1;
}

.yh_goodsbox .yh_wrapper .sp02 span.swiper-pagination-bullet-active {
	background-color: #10805a;
}

.yh_goodsbox .two {
	width: 50%;
	margin-left: -1px;
}

.yh_goodsbox .two h2 {
	padding: 2%;
	position: relative;
	border-bottom: #ddd solid 1px;
	height: 2.1rem;
}

.yh_goodsbox .two h2 img {
	width: 100%;
	display: block;
}

.yh_goodsbox .two h3,
.yh_goodsbox .two h4 {
	float: left;
	width: 48%;
	padding: 3% 1%;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
}

.yh_goodsbox .two h3 img,
.yh_goodsbox .two h4 img {
	width: 100%;
}

.yh_goodsbox .two h3 {
	border-right: #ddd solid 1px;
}

/*新品推荐*/
.nine_goods_pic ul {
	overflow: hidden;
	padding: 0 1.2%;
}

.nine_goods_pic ul li {
	float: left;
	width: 31.7333%;
	margin: 0 .8%;
	margin-bottom: 1%;
}

.nine_goods_pic ul li img {
	display: block;
	width: 100%;
}

.nine_goods_pic ul li p {
	color: #666;
	font-size: .22rem;
	line-height: .28rem;
	height: .52rem;
	overflow: hidden;
	margin-top: 4%;
}

.nine_goods_pic ul li span {
	color: #f00;
	font-size: .26rem;
	display: block;
	line-height: 160%;
	margin: 0 2% 4%;
}

/*btn_link*/
.btn_link {
	padding: 3% 0 7%;
}

.btn_link a {
	display: block;
	width: 50%;
	background-color: #2691e1;
	border-radius: 50px;
	text-align: center;
	margin: 0 auto;
	height: .6rem;
	line-height: .6rem;
	font-size: .26rem;
	color: #fff;
}

/*品牌推荐*/
.good_stores_pic {
	margin: 1% 0 2%;
}

.good_stores_pic ul li i {
	display: block;
	border: #eee solid 1px;
}

.good_stores_pic ul li img {
	display: block;
}

.good_stores_pic ul li p {
	height: auto;
	overflow: hidden;
	margin: 6% 0 8%;
	text-align: center;
	white-space: nowrap;
}

/*经典男鞋 tit*/
.sy_my_pagetion {
	background: url(../images/line_botm.jpg) no-repeat center bottom;
	background-size: 100% 3px;
	padding: 4% 2% 2%;
	margin-bottom: 4%;
	white-space: nowrap;
}

.sy_my_pagetion .swiper-pagination-bullet {
	width: auto;
	height: auto;
	border-radius: 0;
	background: none;
	color: #999;
	font-size: .34rem;
	opacity: 1;
	margin: 0;
	overflow: hidden;
	line-height: 100%;
}

.module-content .sy_goods_box .sy_my_pagetion .swiper-pagination-bullet {
	margin: 0;
}

.sy_my_pagetion .swiper-pagination-bullet:before {
	content: "·";
	color: #2691e1;
	font-size: .5rem;
	margin: 0 .25em;
	position: relative;
	top: .12em;
}

.sy_my_pagetion .swiper-pagination-bullet:first-child:before {
	content: "";
	margin: 0;
}

.sy_my_pagetion .swiper-pagination-bullet-active {
	color: #2691e1;
}

/*猜你喜欢*/
.maybe_u_like .index_title h1 {
	background-color: #f1f1f1;
}

.maybe_u_like ul {
	overflow: hidden;
	padding: 0 1%;
}

.maybe_u_like ul li {
	float: left;
	margin: 1%;
	width: 48%;
	background-color: #fff;
}

.maybe_u_like ul li a {
	display: block;
	overflow: hidden;
}

.maybe_u_like ul li img {
	display: block;
	width: 100%;
}

.maybe_u_like ul li p {
	color: #666;
	font-size: .22rem;
	line-height: .28rem;
	height: .52rem;
	overflow: hidden;
	margin: 4% 2% 0;
}

.maybe_u_like ul li span {
	color: #f00;
	font-size: .26rem;
	display: block;
	line-height: 160%;
	margin: 0 2% 4%;
}

.maybe_u_like ul li i {
	display: block;
	width: 100%;
}

/*下拉加载更多*/
.zy_more {
	background-color: #f0f0f0;
	text-align: center;
	color: #999;
}

.zy_more h2 {
	font-size: .22rem;
	line-height: 100%;
	padding-top: 2%;
}

/*go_top*/
.go_top {
	position: fixed;
	right: .1rem;
	bottom: 8%;
	width: .8rem;
	height: .8rem;
	border-radius: 8%;
	background-color: rgba(0, 0, 0, .5);
	z-index: 999;
	display: none;
}

.go_top a {
	display: block;
	background: url(../images/back_top.png) center center no-repeat;
	width: .8rem;
	height: .8rem;
	background-size: 50%;
}

/*footer_box底部*/
.footer_box {
	margin-top: 3%;
	background-color: #fff;
	padding-bottom: 18%;
}

.footer_box1 {
	/* margin-top: 3%; */
	background-color: #fff;
	/* padding-bottom: 18%; */
	position: absolute;
	bottom: 53px;
	width: 100%;
}

.footer_box .footer h2 {
	border-bottom: #ddd solid 1px;
	text-align: center;
	padding: 4% 0;
}

.footer_box .footer h2 a {
	font-size: .26rem;
	color: #999;
	display: inline-block;
	padding: 0 2%;
	border-left: #999 solid 1px;
	line-height: 100%;
	padding: 0 4%;
}

.footer_box .footer h2 a:first-child {
	border-left: 0;
}

.footer_box .footer h3 {
	text-align: center;
	margin: 5% 0;
}

.footer_box .footer h3 span {
	display: inline-block;
	vertical-align: middle;
	margin: 2%;
}

.footer_box .footer h3 span:after {
	content: ">";
	color: #ffe037;
	margin-left: .3em;
	font-size: .24rem;
}

.footer_box .footer h3 span a {
	font-size: .24rem;
	color: #999;
	border-bottom: #999 solid 1px;
}

.footer_box .footer .txt {
	text-align: center;
	color: #999;
	font-size: .20rem;
	line-height: 180%;
}

/*底部导航菜单*/
.foot_menu {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

.foot_menu ul {
	overflow: hidden;
	background-color: #2691e1;
	padding-top: 2%;
	padding-bottom: 1%;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	/* Safari */
	display: -moz-flex;
	display: flex;
	flex-wrap: nowrap;
	-moz-justify-content: space-around;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-box-align: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	align-items: center;
}

.foot_menu ul li {
	text-align: center;
	width: 25%;
}

.foot_menu ul li i {
	display: block;
	margin-bottom: .08rem;
}

.foot_menu ul li img {
	display: block;
	margin: 0 auto;
	width: .45rem;
	height: .45rem;
}

.foot_menu ul li a {
	color: #fff;
	font-size: .20rem;
	display: inline-block;
}

.foot_menu ul li.cur a {
	color: #ffe400;
}

.foot_menu ul li.gwc a {
	position: relative;
}

.foot_menu ul li.gwc em {
	position: absolute;
	right: -4%;
	top: -8%;
	background-color: #2691e1;
	border-radius: 50%;
	font-style: normal;
	width: .26rem;
	height: .26rem;
	text-align: center;
	line-height: .28rem;
	border: #fff solid 1px;
	font-size: .18rem;
	color: #fff;
}

/*search_bomb_box搜索弹框*/
.search_bomb_box {
	background-color: #fff;
	height: 100%;
	display: none;
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
}

.search_top {
	background-color: #f5f5f5;
	border-bottom: #ddd solid 1px;
	padding: 2% 1%;
}

.search_top a {
	display: inline-block;
	vertical-align: middle;
	width: 8%;
}

.search_top a img {
	width: 38%;
	display: block;
	margin: 0 auto;
}

.search_top div {
	border: #dddddd solid 1px;
	border-radius: 100px;
	display: inline-block;
	vertical-align: middle;
	width: 83%;
	padding: 1%;
	overflow: hidden;
	background-color: #fff;
}

.search_top div select {
	color: #10805a;
	font-size: .24rem;
	vertical-align: middle;
	margin-left: 2%;
	background: url(../images/xsj_down.png) right center no-repeat #fff;
	background-size: 20%;
	margin-right: 2%;
	width: 14%;
	line-height: 120%;
}

.search_top div input {
	font-size: .26rem;
	line-height: 180%;
	color: #666;
	width: 84%;
	vertical-align: middle;
	background-color: #fff;
	margin-left: 2%
}

.search_top div button {
	display: inline-block;
	vertical-align: middle;
	background-color: #fff;
	width: 13%;
}

.search_top div button img {
	display: block;
	width: 46%;
	margin: 0 auto;
}

.search_txt {
	padding: 0 2%;
}

.search_txt h2 {
	font-size: .28rem;
	color: #4aa3e6;
	margin: 5% 1% 1%;
}

.search_txt ul {
	overflow: hidden;
}

.search_txt ul li {
	float: left;
	background-color: #f5f5f5;
	border: #ddd solid 1px;
	padding: 0 2%;
	margin: 3% 1% 0 1%;
}

.search_txt ul li a {
	display: block;
	color: #666;
	font-size: .24rem;
	line-height: 200%;
}